{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- END PAGE HEADER-->
        {% if at == None %}
        <div class="note note-danger">
            <h4 class="block">Autotask connection not established</h4>
              <p>{% for message in messages %}
                {{ message }}
              {% endfor %}</p>
              <hr>
            <p><a href="{% url 'profile' user.id %}">Please login to Autotask using your credentials, this will allow you to start searching for accounts.</p></a>
        </div>
        {% endif %}
          <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" fa fa-search fa-2x font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Welcome to the Autotask Validator</span>
                </div>
            </div>
            <div class="portlet-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                      <div class="caption">
                          <span class="caption-subject font-blue-madison bold uppercase">Get Started</span>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <div class="mt-element-step">
                        <div class="row step-line">
                          <div class="col-md-4 mt-step-col first {% if user.profile.company.name != 'No Company' %} done {% else %} active {%endif%}">
                            <div class="mt-step-number bg-white font-grey">1</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Create/Join A Company</div>
                            <div class="mt-step-content font-grey-cascade">You must be associated to a company to get started</div>
                          </div>
                          <div class="col-md-4 mt-step-col {% if user.profile.autotask_username %} done {% else %} active {% endif %}">
                            <div class="mt-step-number bg-white font-grey">2</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Enter Autotask Credentials</div>
                            <div class="mt-step-content font-grey-cascade">Login to Autotask</div>
                          </div>
                          <div class="col-md-4 mt-step-col last ">
                            <div class="mt-step-number bg-white font-grey">3</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Create Picklist </div>
                            <div class="mt-step-content font-grey-cascade">A picklist module provides all the variable data from your account</div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
{% endblock %}
